<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hobbies</title>
    <link rel="stylesheet" href="stylehobbies.css"/>
  </head>
  <body>

    
    <div class="e82_1446">

    

      <div class="e82_1468">

    

        <div class="e82_1449"></div>
        <div class="e82_1450"></div>

    </div><span  class="e82_1454">What do you enjoy to do?</span>
        
        <div class="hobby1">
        <div class="buttonrunning"></div><span class="Running">Running</span></div>
    
        <div class="hobby2">
        <div class="buttoncycling"></div><span class="Cycling">Cycling</span></div>
    
        <div class="hobby3">
        <div class="buttonyoga"></div><span class="Yoga">Yoga</span></div>

        <div class="hobby4">
        <div class="buttonhiking"></div><span class="Hiking">Hiking</span></div>

        <div class="hobby5">
        <div class="buttonreading"></div><span class="Reading">Reading</span></div>

        <div class="hobby6">
        <div class="buttontravelling"></div><span class="Travelling">Travelling</span></div>

        <div class="hobby7">
        <div class="buttonfashion"></div><span class="Fashion">Fashion</span></div>

        <div class="hobby8">
        <div class="buttondancing"></div><span class="Dancing">Dancing</span></div>

        <div class="hobby9">
        <div class="buttonmusic"></div><span class="Music">Music</span></div>

        <div class="hobby10">
        <div class="buttonart"></div><span class="Art">Art</span></div>

        <div class="hobby11">
        <div class="buttonswimming"></div><span class="Swimming">Swimming</span></div>

        <div class="hobby12">
        <div class="buttoncooking"></div><span class="Cooking">Cooking</span></div>
        
        <div class="hobby13">
        <div class="buttonpoetry"></div><span class="Poetry">Poetry</span></div>

        <div class="hobby14">
        <div class="buttonmeditation"></div><span class="Meditation">Meditation</span></div>

        <div class="hobby15">
        <div class="buttongaming"></div><span class="Gaming">Gaming</span></div>


        <div class="e82_1451"></div><span  class="e82_1452">8:45</span>

      


      <div class="e82_1470">
        <div class="e82_1447"></div><span  class="e82_1455">Continue</span>
      </div>
      
      
         
    
      <div class="e82_1467">
        <div class="e82_1458"></div>
        <div class="e82_1459"></div>
        <div class="e82_1460"></div>
        <div class="e82_1461">
        
            <div class="background2"></div>
          
          <!--div class="e82_1463"> </div<-->
        </div>
        <div class="e82_1464"></div>
        <div class="e82_1465"></div>
        <div class="e82_1466"></div>
      </div>
    </div>


    <script src="index.js"></script>
  </body>
</html>