<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class=phone-screen>
      <div class=navbar>
        <img src="images/time-icon.png" alt="Wifi" id="time-icon" />
        <img src="images/wifi-icon.png" alt="Wifi" id="wifi-icon" />
        <img src="images/signal-icon.png" alt="Signal" id="signal-icon" />
        <img src="images/battery-icon.png" alt="Signal" id="battery-icon" />
      </div>

      <div class=logo>
        <img src="images/logo-icon.png" alt="Logo" id="logo-icon" />          
      </div>
      
      <div class="presentation">
      <span  class="app-name">Weekdays</span>
      <span  class="intro">Meet awesome people every week day</span>
      <span  class="about">We know that cool folks like you already have a vibrant social life. But we want to give you the opportunity to explore your curiosity, hear new stories and have some fun along the way!</span>
    </div>

      <div class=button>
        <div class="rectangle"></div>        
        <span  class="sign-up">Sign up with phone number</span>        
      </div>    
              
      <span  class="sign-in">Already have an account? Sign in</span>
 
      
    </div>


    <script src="index.js"></script>
  </body>
</html>


