<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="e82_1446">
      <div class="e82_1468">
        <div class="e82_1449"></div>
        <div class="e82_1450"></div>
        <div class="e82_1451"></div><span  class="e82_1452">8:45</span>
      </div><span  class="e82_1454">Meet awesome people every week day</span>
      <div class="e82_1470">
        <div class="e82_1447"></div><span  class="e82_1455">Sign up with phone number</span>
      </div><span  class="e92_1524">We know that cool folks like you already have a vibrant social life. But we want to give you the opportunity to explore your curiosity, hear new stories and have some fun along the way!</span><span  class="e82_1456">
    
    Already have an account? Sign in</span>
      <div class="e82_1467">
        <div class="e82_1458"></div>
        <div class="e82_1459"></div>
        <div class="e82_1460"></div>
        <div class="e82_1461">
          <div class="e82_1462"></div>
          <div class="e82_1463"></div>
        </div>
        <div class="e82_1464"></div>
        <div class="e82_1465"></div>
        <div class="e82_1466"></div>
      </div>
    </div>


    <script src="index.js"></script>
  </body>
</html>

