.phone-screen { 
	overflow:hidden;
	background-color:rgba(250.00000029802322, 238.00000101327896, 224.000001847744, 1);
	width:414px;
	height:896px;
	position:absolute;
}

.navbar { 
	width:377px;
	height:16px;
	position:absolute;
	left:16px;
	top:9px;
}
#wifi-icon { 
	width:15px;
	height:11px;
	position:absolute;
	left:334px;
	top:2px;
}
#signal-icon { 	
	width:14px;
	height:12px;
	position:absolute;
	left:309px;
	top:2px;
}
#battery-icon { 
	width:15px;
	height:8px;
	position:absolute;
	left:362px;
	top:4px;
}
#time-icon {
	width:33px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}

.title { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:292px;
	height:23px;
	position:absolute;
	left:58px;
	top:400px;
	font-family:Roboto;
	font-weight: bold;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}

.title-top { 
	color:#F9CF93;
	width:292px;
	height:23px;
	position:absolute;
	left:45px;
	top:95px;
	font-family:Roboto;
	font-weight: bold;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}

.intro { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:292px;
	height:23px;
	position:absolute;
	left:58px;
	top:450px;
	font-family:Roboto;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.button { 
	width:296px;
	height:49px;
	position:absolute;
	left:43px;
	top:650px;
	z-index: 2;
}
.rectangle { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:296px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.rectangle-large { 
	background-color: #F9CF93;
	border-radius: 25px;
	opacity: 0.30;
	width:350px;
	height:800px;
	position:absolute;
	left:15px;
	right: 15px;
	top:60px;
}

.presentation {
	padding: 20px;
}

.sign-up { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:245px;
	height:16px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.about { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:350px;
	height:91px;
	position:absolute;
	left:32px;
	top:530px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.sign-in { 
	color:rgba(219.0000021457672, 208.0000028014183, 192.00000375509262, 1);
	width:259px;
	height:54px;
	position:absolute;
	left:83px;
	top:720px;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}

.logo { 
	width:394.4962158203125px;
	height:386.4129638671875px;
	position:absolute;
	left:0px;
	top:35.8089599609375px;
}
#logo-icon { 
	background-color:rgba(249.00000035762787, 228.0000016093254, 200.00000327825546, 1);
	width:301px;
	height:295px;
	position:absolute;
	left:49px;
	top:15.191069602966309px;
}



.Running { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:292px;
	height:23px;
	position:absolute;
	left:48px;
	top:222px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
	z-index: 1;
       }
.buttonrunning { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:100px;
	height:30px;
	position:absolute;
	left:30px;
	top:220px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.buttoncycling {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:100px;
	height:30px;
	position:absolute;
	left:145px;
	top:220px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Cycling {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:292px;
	height:23px;
	position:absolute;
	left:162px;
	top:222px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.running { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:100px;
	height:30px;
	position:absolute;
	left:50px;
	top:220px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
    font-family:Roboto;
	font-size:20px;
}
.buttonyoga {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:80px;
	height:30px;
	position:absolute;
	left:250px;
	top:220px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}
.Yoga {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:270px;
	top:222px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}
.buttonhiking {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:30px;
	top:255px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}
.Hiking {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:48px;
	top:264px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttonreading {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:135px;
	top:255px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Reading {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:145px;
	top:264px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttontravelling {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:110px;
	height:30px;
	position:absolute;
	left:240px;
	top:255px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Travelling {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:260px;
	height:23px;
	position:absolute;
	left:250px;
	top:264px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}
.buttonfashion { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:100px;
	height:30px;
	position:absolute;
	left:30px;
	top:295px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}
.Fashion { 
	color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:292px;
	height:23px;
	position:absolute;
	left:48px;
	top:297px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
       }

.buttondancing {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:145px;
	top:295px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Dancing {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:155px;
	top:297px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttonmusic {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:245px;
	top:295px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Music {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:258px;
	top:297px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}
.buttonart { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:30px;
	top:330px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;

}
.Art {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:48px;
	top:335px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttonswimming {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:110px;
	height:30px;
	position:absolute;
	left:140px;
	top:330px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Swimming {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:150px;
	top:335px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttoncooking {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:95px;
	height:30px;
	position:absolute;
	left:255px;
	top:330px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}
.Cooking {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:245px;
	height:23px;
	position:absolute;
	left:265px;
	top:335px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttonpoetry {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:90px;
	height:30px;
	position:absolute;
	left:30px;
	top:364px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;

}

.Poetry {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:48px;
	top:368px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttonmeditation {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:110px;
	height:30px;
	position:absolute;
	left:135px;
	top:364px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Meditation {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:140px;
	top:368px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

.buttongaming{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.00000035762787, 207.00000286102295, 147.00000643730164, 0.20000000298023224);
	width:100px;
	height:30px;
	position:absolute;
	left:255px;
	top:364px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    z-index: 1;
}

.Gaming {
    color:rgba(157.0000058412552, 157.0000058412552, 157.0000058412552, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:265px;
	top:368px;
	font-family:Roboto;
	font-size:20px;
	letter-spacing:0;
}

